# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django specific files
*.log
db.sqlite3
.env

# VS Code settings (optional)
.vscode/

# macOS system files (optional)
.DS_Store
